[init]
	defaultBranch = main
[core]
  pager = delta
  editor = nvim
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  ignorecase = true
  precomposeunicode = true
[pull]
  rebase=true
[push]
	autoSetupRemote = true
[delta]
  navigate = true
  line-numbers = true
